.show-modal11a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal11b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal11c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal11d {
    visibility: visible;
    opacity: 1;
  }
  
  /* DCI FINE CHOCO */
  .show-modal12a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal12b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal12c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal12d {
    visibility: visible;
    opacity: 1;
  }

  /* 3in1 series */
  .show-modal13a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal13b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal13c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal13d {
    visibility: visible;
    opacity: 1;
  }

  .show-modal13e {
    visibility: visible;
    opacity: 1;
  }

  .show-modal13f {
    visibility: visible;
    opacity: 1;
  }

  .show-modal13g {
    visibility: visible;
    opacity: 1;
  }

  .show-modal13h {
    visibility: visible;
    opacity: 1;
  }

  .show-modal13i {
    visibility: visible;
    opacity: 1;
  }
  
  /* DILLTEA PURENESS POWDER */
  .show-modal21a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal21b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal21c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal21d {
    visibility: visible;
    opacity: 1;
  }

  .show-modal22a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal22b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal22c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal22d {
    visibility: visible;
    opacity: 1;
  }

  .show-modal23a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal23b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal23c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal23d {
    visibility: visible;
    opacity: 1;
  }
  
  
  /* FLAVORICH POWDER */
  .show-modal31a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31d {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31e {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31f {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31g {
    visibility: visible;
    opacity: 1;
  }

  .show-modal31h {
    visibility: visible;
    opacity: 1;
  }

  /* syrup */
  .show-modal32a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32d {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32e {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32f {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32g {
    visibility: visible;
    opacity: 1;
  }

  .show-modal32h {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32i {
    visibility: visible;
    opacity: 1;
  }